@media screen and (max-width: 600px) {
  body {
    font-size: 5vw !important;
  }

  .h1 {
    font-size: 14vw !important;
  }
  h2 {
    font-size: 10vw !important;
  }
  h3 {
    font-size: 8vw !important;
  }
  h4, h5 {
    font-size: 6vw !important;
  }

  .tag, .tag:hover {
    font-size: 4vw !important;
  }

  .smallTag {
    font-size: 4vw !important;
  }
}

body {
    background-color: #3d4247;
    margin: 0 !important;
    font-family: 'Segoe UI', sans-serif;
}

.bkgWhite {
  background-color: white;
}

.container-fluid {
    margin: 0 !important;
}

.icon:link{
    color: #585a63;
    font-size: 26pt;
    margin-left: 1rem;
}

a:hover {
    color: #5c727f;
    text-decoration: none;
}

.brd2 {
    border: 3px salmon solid;
}

.brd3 {
    border: 1px skyblue solid;
}

.wholescreen {
    height: 100vh;
    min-height: 100vh;
}

.flex-container {
    background-color: #3d4247;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }

  .h1 {
    font-size: 48pt;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    letter-spacing: -0.05rem;
    text-rendering: optimizeLegibility;
  }

  h2 {
    font-size: 24pt;
    font-family: 'Segoe UI', sans-serif;
    color: #27282b;
    border-bottom: 0.1rem solid #d7e9f7;
    text-rendering: optimizeLegibility;
    width: 100%;
    padding: 0.5rem;
    padding-left: 0;
  }

  h3 {
    font-size: 18pt;
    font-family: 'Segoe UI', sans-serif;
    color: #27282b;
    text-rendering: optimizeLegibility;
    display: inline !important;
    margin-right: 0.75rem;
  }
  

  h4 {
    font-size: 16pt;
    font-family: 'Segoe UI', sans-serif;
    color: #3c6f96;
    text-rendering: optimizeLegibility;
  }

  h5 {
    font-size: 16pt;
    font-family: 'Segoe UI', sans-serif;
    color: #27282b;
    text-rendering: optimizeLegibility;
    font-style: italic;
  }

  .marginBottom {
    margin-bottom: 2rem;
  }

  .flexRow {
     display: flex;
     flex-direction: row;
     margin-top: 1rem;
  }

  .col2MarginTop {
      position: relative;
  }

  .tag {
      background-color: #d7e9f7;
      border-radius: 1rem;
      padding: 1rem; 
      margin-right: 0.5rem;
      font-size: 16pt;
      font-family: 'Segoe UI', sans-serif;
      justify-content: center;
      color: #27282b; 
      transition: background-color 0.5s ease-out;
  }
  
  .tag:hover {
    background-color: #bbd9f0;
    cursor: default;
}

  .smallTag {
    background-color: #d7e9f7;
    border-radius: 0.5rem;
    padding: 0.5rem; 
    font-size: 10pt;
    font-family: 'Segoe UI', sans-serif;
    justify-content: center;
    color: #27282b; 
    transition: background-color 0.5s ease-out;
    display: inline !important;
    margin-right: 0.25rem;
  }

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
}

.collapseLink {
    color: #1174bf;
    text-decoration: none;
}

.card {
    border: none !important;
    position: relative;
    right: 1rem;
}