body {
    background-color: #d7e9f7;
}

.title {
    font-size: 56pt;
    font-family: 'Archivo', sans-serif;
    color: #dc6f37;
    text-align: center;
    position: relative;
    top: -8.5rem;
    margin-bottom: -9rem;
}
.icon:link{
    color: #585a63;
    font-size: 26pt;
    margin-left: 1rem;
}

a:hover {
    color: #5c727f;
    text-decoration: none;
}

.brd2 {
    border: 3px salmon solid;
}

.brd3 {
    border: 1px skyblue solid;
}

.navbar {
    padding: 2rem;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-color: white;
}
#col1 {
    background-color: white;
}

#col2 {
    background-color: #d7e9f7;
}

.wholescreen {
    height: 100vh;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }

  .h1 {
    font-size: 56pt;
    font-family: 'Segoe UI', sans-serif;
    color: #27282b;
    text-rendering: optimizeLegibility;
  }

  .h2 {
    font-size: 24pt;
    font-family: 'Segoe UI', sans-serif;
    color: #27282b;
    text-rendering: optimizeLegibility;
  }

  .marginBottom {
    margin-bottom: 2rem;
  }

  .flexRow {
     display: flex;
     flex-direction: row;
     margin-top: 1rem;
  }

  .padding {
      margin: 2rem;
  }

  .col2MarginTop {
      position: relative;
  }

  .tag {
      background-color: #d7e9f7;
      border-radius: 2rem;
      padding: 1.6rem; 
      margin-right: 1rem;
      font-size: 23pt;
      font-family: 'Segoe UI Semibold', sans-serif;
      color: #186aad; 
      transition: background-color 0.5s ease-out;
  }

  .tag:hover {
      background-color: #bbd9f0;
      cursor: default;
  }

  .box {
      background-color: white;
      height: 25rem;
      padding: 1.6rem; 
      border: 1rem #d7e9f7 solid;
  }

  .wideBox {
    width: auto;
    background-color: white;
    margin-right: 1rem;
    padding: 1.6rem; 
}