@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300&family=Roboto:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

html, body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    min-height: 1vh;
    font-size: 14pt;
}

.welcomeSection {
    height: 30rem;
    background-color: white;
    background-image: url("../images/cats.png");
    background-size: cover;
}

.welcomeHeader {
    color: white;
    font-size: 28pt;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -2px;
    padding-left: 4rem;
    text-rendering: optimizeLegibility;
}

.sectionHeader {
    font-size: 28pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #8ab073;
}

h2 {
    font-size: 18pt !important;
    font-family: 'Roboto Light', sans-serif;
    color: #666666;
}

.section {
    padding: 3rem 4rem 4rem 4rem;
    border-radius: 0.5rem;
}

.sectionShadow {
    box-shadow: 20px 0 10px -10px #AAA;
}

.whiteBkg {
    background-color: white;
}

.greyBkg {
    background-color: #EEEEEE;
}

.testBox {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 70;
    padding: 2rem;
    border: 3px solid #b3d;
}

.testBox2 {
    position: absolute;
    top: 0;
    left: 20rem;
    background-color: white;
    opacity: 70;
    padding: 2rem;
    border: 3px solid #b3d;
}

.icon {
    font-size: 18pt;
    margin-right: 0.5rem;
}

.bi-trash {
    color: #db0000;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.bi-trash:hover {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.1s ease-in-out;
}

.bi-person-check {
    color: #8ab073;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.bi-person-check:hover {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.1s ease-in-out;
}

.kcButton {
    background-color: #8ab073 !important;
    border: none !important;
}